
* {
    margin: 0;
    padding: 0;     
    text-decoration: none;
    box-sizing: border-box;
}

html {
  font-family: 'Inter', sans-serif;
}

#hero {
    background-image: url("./images/pc.jpeg");
    background-repeat: no-repeat;   
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

#hero .cover {
    padding-top: 70px;
    position: relative;
}

@media (max-width: 992px) {
    #hero .cover {
      padding-top: 58px;
    }
  }
  
  #hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: white;
  }
  
  #hero h2 {
    color: white;
    margin: 10px 0 0 0;
    font-size: 22px;
  }

  #hero .btn-about {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 30px;
    color: #fff;
    background: #34b7a7;
    text-decoration: none;
  }
  
  #hero .btn-about:hover {
    background: #3dc8b7;
  }

  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }

  @media (max-width: 992px) {
    #hero:before {   
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
    }
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
    }
  }
  

  /* SECCION SOBRE MI*/

  .space {
      margin-top: 90px;
  }

 
a:visited {
    color: white;
}

.space2 {
  margin-top: 70px;
}

/*CONTACT*/

.text-mute {
  color: #6c757d !important;
}

a:link, a:visited, a:active {
  text-decoration:none;
  color: white;
}

#divider {
  border: 3px solid;
  border-radius: 5px;
  width:100px;
  margin: auto
}

#black {
  color: black;
}

#black:hover{
  color: #34b7a7;
}



i.whatsapp {
  color: #4FCE5D;
}

#wa:hover{
  color: #34b7a7;
}

#wa{
  color: black;
}


#iconos {
margin: 0;
}
